* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

.content{
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  .categoryTitle {
    color: grey;
  }
}

html, body {
  background-color: #e0e0e0;
  width: 800px;
  margin: 0px auto;

}


